    </main>
    <footer>
        <div id="to-top-container" class="container text-right">
            <button id="to-top" class="btn" type="button" aria-hidden="true">
                <span class="fal fa-angle-up"></span>
            </button>
        </div>

        <div id="accepted-cards" class="mb-5 text-center">
            <p>We accept the following payment methods:</p>
            <p id="cards">
                <i class="mr-sm-2 fab fa-cc-paypal"></i>
                <i class="mr-sm-2 fab fa-cc-visa"></i>
                <i class="mr-sm-2 fab fa-cc-mastercard"></i>
                <i class="mr-sm-2 fab fa-cc-amex"></i>
                <i class="mr-sm-2 fab fa-cc-discover"></i>
                <i class="mr-sm-0 fab fa-cc-jcb"></i>
            </p>
        </div>

        <%_ if (site_content?.platforms.length) { _%>
        <div id="social-links" class="mb-5">
            <%_ site_content.platforms.forEach(p => { _%>
            <a href="<%= p.url %>" target="_blank" aria-label="<%= p.name %> link">
                <img class="simple-icon" src="https://cdn.jsdelivr.net/npm/simple-icons@5.21.1/icons/<%= p.name.toLowerCase() %>.svg" alt="">
            </a>
            <%_ }) _%>
        </div>
        <%_ } _%>

        <div id="copyright" class="text-center">&copy; All Rights Reserved</div>
    </footer>
</body>
</html>
