<%- include ('partials/header', { pagename: "admin", title: "Reset Password - Admin" }) -%>
    <div class="container">
        <form id="password-reset-form" class="form" action="/admin/password/reset/<%- token %>">
            <label>New Password *</label>
            <input type="password" class="form-control theme mb-4" name="password" id="password" required>

            <label>Confirm Password *</label>
            <input type="password" class="form-control theme mb-4" name="password_confirm" id="password_confirm" required>

            <button type="submit" class="btn btn-theme mt-4">Submit</button>
        </form>
    </div>

    <script>
        $("#password-reset-form").submit(function(e) {
            e.preventDefault();
            var btnController = new submitBtnController(this, { progressMsg: "Resetting", ellipsis: true });
            $.post(this.action, $(this).serializeArray(), function(result) {
                e.target.reset();
                location.href = result.href;
            }).fail(function(err) {
                Alert(err.responseText);
            }).always(function() {
                btnController.finish();
            });
        });
    </script>
<%- include ('partials/footer') -%>
