<%- include ('partials/header', { pagename: "checkout", title: "Checkout" }) -%>
    <div class="container">
        <form id="payment-form" class="form" action="/shop/checkout/session/create">
            <fieldset class="row">
                <div class="col">
                    <label for="firstname">First name *</label>
                    <input class="form-control mb-4" type="text" name="firstname" required>
                </div>

                <div class="col">
                    <label for="lastname">Last name *</label>
                    <input class="form-control mb-4" type="text" name="lastname" required>
                </div>
            </fieldset>

            <label for="email">Email *</label>
            <input class="form-control mb-4" type="email" name="email" required>

            <label for="address_l1">Address Line 1 *</label>
            <input class="form-control mb-4" type="text" name="address_l1" required>

            <label for="address_l2">Address Line 2</label>
            <input class="form-control mb-4" type="text" name="address_l2">

            <fieldset class="row">
                <div class="col-6">
                    <label for="city">City *</label>
                    <input class="form-control mb-4" type="text" name="city" required>
                </div>

                <div class="col-6">
                    <label for="state">State <span>/ County / Region</span></label>
                    <input class="form-control mb-4" type="text" name="state">
                </div>

                <div class="col-6">
                    <label for="country">Country *</label>
                    <input class="form-control mb-4" list="countries" name="country" required />
                    <datalist id="countries">
                        <%_ countries.forEach(c => { _%>
                        <option value="<%= c.name %>"></option>
                        <%_ }) _%>
                    </datalist>
                </div>

                <div class="col-6">
                    <label for="postcode">Post <span>/ Zip code</span> *</label>
                    <input class="form-control mb-4" type="text" name="postcode" required>
                </div>
            </fieldset>

            <button type="submit" id="checkout-btn" class="btn btn-theme mt-4">Continue to pay</button>
        </form>
    </div>

    <script src="https://js.stripe.com/v3/"></script>
    <script>
        $("#payment-form").submit(function(e) {
            e.preventDefault();
            var btnControl = new submitBtnController(this, { progressMsg: "REDIRECTING", ellipsis: true });
            $.post(this.action, $(this).serializeArray(), function(data) {
                var stripe = Stripe(data.pk);
                return stripe.redirectToCheckout({ sessionId: data.id });
            }).then(function(result) {
                if (result.error) { btnControl.finish(); Alert(result.error.message); }
            }).fail(function(err, status) {
                btnControl.finish();
                Alert(err.responseText);
            });
        });
    </script>
<%- include ('partials/footer') -%>