<%- include ('partials/header', { title: "Payment Cancelled", pagename: "checkout-cancel" }) -%>
    <div class="container text-center" style="font-weight: 400">
        <h1>Payment Cancelled</h1>
        <p>Continue shopping or return to <a class="text-underline" id="checkout-link-alt">checkout</a>.</p>
    </div>
<%- include ('partials/footer') -%>
