<%- include ('partials/header') -%>
    <div class="container text-center mt-5" style="font-weight: 400">
        <h1 class="mb-3">Payment Successful!</h1>
        <p>A reciept has been forwarded to your email address.</p>
        <p>Thank you for shopping with us!</p>
    </div>
<%- include ('partials/footer') -%>
